* {
    font-family: sans-serif;
    box-sizing: border-box;
}

/* body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

img {
    height: 100px;
    width: 100px;
}

form {
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h1 {
    color: black;
}

table {
    background-color: rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    width: 80%;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}

td, th {
    padding: 8px;
    width: 50%;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgba(0, 0, 0, 0.650);
}

input[type="text"], input[type="number"] , input[type="tel"], input[type="date"], input[type="email"], select {
    background-color: #f6f6f6be;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
}

button {
    display: block;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    width: 50%;
    padding: 10px;
    font-size: 100%;
}

.btn-bottom {
    margin-bottom: 10px;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.879);
}

@media only screen and (max-width: 540px) {

    table {
        width: 100%;
    }

    button {
        padding: 15px
    }
}