* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    padding: 50px;
    animation: fadein 1s ease-in-out;
}

p {
    font-size: 100%;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: large;
    text-align: center;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
}

.center {
    text-align: center;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 100%;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.365);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}