RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ /Enrollment/error.html [L]

RewriteRule ^([^\.]+)\.php$ $1.php [NC,L]
RewriteRule ^([^\.]+)\.html$ $1.html [NC,L]
RewriteRule ^([^\.]+)\.htm$ $1.htm [NC,L]
RewriteRule ^([^\.]+)\.txt$ $1.txt [NC,L]
RewriteRule ^([^\.]+)\.md$ $1.md [NC,L]
RewriteRule ^([^\.]+)\.rst$ $1.rst [NC,L]
RewriteRule ^([^\.]+)\.csv$ $1.csv [NC,L]
RewriteRule ^([^\.]+)\.json$ $1.json [NC,L]
RewriteRule ^([^\.]+)\.xml$ $1.xml [NC,L]
RewriteRule ^([^\.]+)\.jpg$ $1.jpg [NC,L]
RewriteRule ^([^\.]+)\.jpeg$ $1.jpeg [NC,L]
RewriteRule ^([^\.]+)\.png$ $1.png [NC,L]
RewriteRule ^([^\.]+)\.gif$ $1.gif [NC,L]
RewriteRule ^([^\.]+)\.bmp$ $1.bmp [NC,L]
RewriteRule ^([^\.]+)\.webp$ $1.webp [NC,L]
RewriteRule ^([^\.]+)\.ico$ $1.ico [NC,L]
RewriteRule ^([^\.]+)\.svg$ $1.svg [NC,L]
RewriteRule ^([^\.]+)\.pdf$ $1.pdf [NC,L]
RewriteRule ^([^\.]+)\.mp4$ $1.mp4 [NC,L]
RewriteRule ^([^\.]+)\.mp3$ $1.mp3 [NC,L]
RewriteRule ^([^\.]+)\.ogg$ $1.ogg [NC,L]
RewriteRule ^([^\.]+)\.avi$ $1.avi [NC,L]
RewriteRule ^([^\.]+)\.zip$ $1.zip [NC,L]
RewriteRule ^([^\.]+)\.tar$ $1.tar [NC,L]
RewriteRule ^([^\.]+)\.tar\.gz$ $1.tar.gz [NC,L]
RewriteRule ^([^\.]+)\.tar\.bz2$ $1.tar.bz2 [NC,L]
RewriteRule ^([^\.]+)\.rar$ $1.rar [NC,L]
RewriteRule ^([^\.]+)\.7z$ $1.7z [NC,L]
RewriteRule ^([^\.]+)\.exe$ $1.exe [NC,L]
RewriteRule ^([^\.]+)\.sh$ $1.sh [NC,L]
RewriteRule ^([^\.]+)\.dmg$ $1.dmg [NC,L]
RewriteRule ^([^\.]+)\.apk$ $1.apk [NC,L]
RewriteRule ^([^\.]+)\.ipa$ $1.ipa [NC,L]
RewriteRule ^([^\.]+)\.db$ $1.db [NC,L]
RewriteRule ^([^\.]+)\.sql$ $1.sql [NC,L]
RewriteRule ^([^\.]+)\.dll$ $1.dll [NC,L]
RewriteRule ^([^\.]+)\.so$ $1.so [NC,L]
RewriteRule ^([^\.]+)\.sqlite$ $1.sqlite [NC,L]
RewriteRule ^([^\.]+)\.log$ $1.log [NC,L]
RewriteRule ^([^\.]+)\.c$ $1.c [NC,L]
RewriteRule ^([^\.]+)\.cpp$ $1.cpp [NC,L]
RewriteRule ^([^\.]+)\.java$ $1.java [NC,L]
RewriteRule ^([^\.]+)\.py$ $1.py [NC,L]
RewriteRule ^([^\.]+)\.rb$ $1.rb [NC,L]
RewriteRule ^([^\.]+)\.jsonld$ $1.jsonld [NC,L]
RewriteRule ^([^\.]+)\.yaml$ $1.yaml [NC,L]
RewriteRule ^([^\.]+)\.yml$ $1.yml [NC,L]